@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300&family=Volkhov&display=swap');

html {
    min-height: 100%;
    background-image: linear-gradient(0deg, #ffdee9 0%, #b5fffc 100%);
}

body {
    min-height: 100vh;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

#root {
    height: 100%;
}


.landing-page-font {
    font-family: 'Libre Baskerville', serif;
}
